* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767px) {

    * {
        background-color: black;
    }

}


.calculator {
    margin: 40px auto;
    width: 400px;
    height: 650px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;

}

.display {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 90px;
    padding: 30px;
    color: white;
    font-size: 90px;
    overflow: hidden;

}

.body {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.button {
    background-color: rgb(94, 92, 92);
    color: white;
}

.button:active {
    background-color: rgb(188, 182, 182);
}

.zero {
    width: 162px;
    border-radius: 50px;
}

.operators {
    background-color: rgb(141, 32, 32);
    z-index: 10;
}

.operators:active {
    background-color: white;
    color: black;
    font-weight: bold;
    z-index: 10;

}
